:root {
	--primary-color: #4279BD;
	--secondary-color: #BD8642;
	--body-color: #efefef;
	--bg-color: #fff;
	--border-radius: 5px;
}

html {
	font-family: "Rufina", sans-serif;
}

body {
	background-color: var(--body-color);
	margin: 0;
	color: var(--primary-color);
	overflow-x: hidden;
}

a {
	transition: color 0.3s ease;
	font-family: "Rubik", sans-serif;
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: var(--secondary-color);
}

html body header {
	display: flex;
	justify-content: space-between;
	background-color: var(--bg-color);
	box-shadow: 3px 0 5px #aaa;
	padding: 15px 30px;
	position: relative;
	z-index: 2;
}

header .logo {
	font-size: 20px;
	font-family: "Rubik", sans-serif;
	display: flex;
	align-items: center;
	font-weight: 700;
}

html body nav ul {
	list-style-type: none;
	font-size: 16px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: stretch;
}

html body nav ul li {
	display: inline-block;
	text-align: center;
	padding: 4px
}

html body nav ul li a {
	padding: 0 15px;
}

.hero {
	position: relative;¥
	z-index: 1;
	display: flex;
	background-color: var(--bg-color);
	padding: 20px 50px;
	justify-content: center;
}

.hero .hero-content {
	width: 1200px;
	display: flex;
	flex-direction: row;
}

.hero h1 {
	font-family: "Rufina", sans-serif;
	font-size: 50px;
	font-weight: 700px;
	margin-bottom: 0;
	margin-top: 0;
}

.hero p {
	font-family: "Rubik", sans-serif;
	margin-bottom: 50px;
}

.left {
	width: 600px;
	align-self: center;
	margin-left: auto;
	margin-right: auto;
}
.right {
    margin-left: auto;
    margin-right: auto;
}

.btn {
	background-color: var(--secondary-color);
	color: var(--bg-color);
	border: none;
	padding: 15px 30px;
	border-radius: var(--border-radius);
}

a.btn {
	color: var(--bg-color);
}

.center {
	display: flex;
	justify-content: center;
}

.content {
	max-width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
}

.orange {
	color: var(--secondary-color);
}

.padded {
	padding: 20px 30px;
}

.vert-pad {
	padding: 20px 0;
}

.card {
	background-color: var(--bg-color);
	box-shadow: 0 1px 2px #ddd;
	border: solid 2px #ddd;
	border-radius: var(--border-radius);
	padding: 20px 30px;
}

.third {
	width: 360px;
	margin: 20px;
}

.contact-form input {
	font-family: "Rubik", sans-serif;
	font-size: 14px;
	border: none;
	outline: none;
	height: 30px;
	padding: 5px 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	width: calc(100% - 10px);
}

.contact-form textarea {
	font-family: "Rubik", sans-serif;
	font-size: 14px;
	border: none;
	outline: none;
	height: 100px;
	padding: 15px 10px;
	resize: none;
	border-radius: 5px;
	margin-bottom: 15px;
	width: calc(100% - 10px);
}

.full-width {
	width: calc(100% + 10px);
}

.footer {
	padding: 80px 0 0 0;
	background-color: #333;
	color: #fff;
}

.social-links {
	margin-top: 20px;
	margin-bottom: 40px;
}

.social-links a {
	margin: 0 10px;
}

.social {
	background-color: #fff;
	padding: 10px;
	border-radius: 15px;
}

.made-with {
	padding: 0 30px;
	color: #666;
}

.white-bg {
	background-color: #ffffff;
}

/************ Mobiles ****************************************************************************/


@media (max-width: 1199px) {
	.image {
        width: 400px;
        padding: 0 0 0 50px;
    }
    .left {
        width: 400px;
    }
    .hero h1 {
        font-size: 40px;
    }
}

@media (max-width: 999px) {
	.image {
        width: 350px;
        padding: 0 0 0 50px;
    }
    .left {
        width: 300px;
    }
    .hero h1 {
        font-size: 32px;
    }
    .btn {
        padding: 12px 24px;
    }

    .first-left {
		padding: 20px 30px 20px 10px;
		width: 280px
    }
    .first-right {
        padding: 20px 10px 20px 30px;
    }
}

@media (max-width: 799px) {
	.image {
        width: 250px;
        padding: 0 0 0 50px;
    }
    .hero {
        padding: 50px 20px;
    }
    .hero h1 {
        font-size: 30px;
    }
    .hero p {
        font-size: 16px;
    }
    .btn {
        padding: 10px 20px;
    }

    .first-left {
        padding: 20px 40px 20px 0;
        width: 250px;
    }
    .first-right {
        padding: 20px 0 20px 40px;
        width: 250px;
    }

    #proyectos {
        padding: 20px 20px;
    }
    .card.third {
        padding: 20px 20px;
    }
}

@media (max-width: 639px) {
	header .logo {
		font-size: 30px;
		padding: 0 20px 0 0;
	}
	html body header {
		padding: 0 30px;
	}
	html body nav ul {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.image {
        width: 200px;
        padding: 0 0 0 10px;
    }
    .left {
        width: 220px;
    }
    .hero {
        padding: 60px 20px;
    }
    .hero h1 {
        font-size: 24px;
    }
    .hero p {
        font-size: 14px;
    }
    .btn {
        padding: 6px 12px;
    }

    .first-left {
        padding: 20px 10px 20px 5px;
        width: 220px;
    }
    .first-left h1 {
        font-size: 20px;
    }
    .first-left p {
        font-size: 15px;
    }
    .first-right {
        padding: 20px 5px 20px 10px;
        width: 210;
    }
    .first-right h1 {
        font-size: 20px;
    }
    .first-right p {
        font-size: 15px;
    }

    #proyectos .row {
        flex-wrap: wrap;
        flex-direction: column;
    }
    #proyectos h1 {
        font-size: 22px;
    }
    .card.third {
        width: auto;
    }
}

@media (max-width: 449px) {
	header .logo {
		font-size: 20px;
		padding: 0;
	}
    .left {
        width: 340px;
    }
    .hero {
        height: 440px
    }
    .hero h1 {
        font-size: 25px;
    }
    .hero-left {
        position: absolute;
        top: 320px;
        right: 0;
        left: 0;
    }
    .hero-right {
        position: relative;
        top: -50px;
    }
    .image {
        width: 300px;
    }

	.section-first {
		height: 500px;
	}
	.first-left {
		padding: 20px 0;
		width: 340px;
        position: relative;
    }
    .first-right {
        padding: 20px 0;
        width: 340px;
        position: absolute;
        top: 1030px;
    }

    #proyectos h1 {
        align-text; justify;
        font-size: 20px;
        padding-left: -10px;
    }
    .card.third {
        width: auto;
    }
    #proyectos .content.padded .padded {
        padding: 20px 0;
    }
}

@media (max-width: 359px) {
	.left {
        width: 220px;
    }
    html body nav ul {
        padding: 0;
    }
    .hero {
        height: 400px
    }
    .hero h1 {
            font-size: 22px;
        }
    .hero-left {
        top: 250px;
    }
    .image {
        width: 220px;
    }

    .section-first {
        height: 580px;
    }
    .first-left {
        width: 220px;
        position: relative;
    }
    .first-right {
        width: 220px;
        position: absolute;
        top: 1050px;
    }

    #proyectos {
        padding: 10px;
    }
    #proyectos .content.padded {
        padding: 20px 0px;
    }
    #proyectos .content.padded .padded {
            padding: 20px 5px;
        }
    .card.third {
        padding: 10px;
	}
}

@media (max-width: 239px) {
	.left {
        width: 180px;
    }
    html body header {
        padding: 0 5px;
    }
    header .logo {
        font-size: 20px;
    }
    .hero {
        height: 380px
    }
    .hero-left {
        top: 200px;
    }
    .image {
        width: 180px;
    }

    .section-first {
        height: 650px;
    }
    .first-left {
        width: 190px;
        position: relative;
    }
    .first-right {
		padding: 40px 0 0 0;
        width: 190px;
        position: absolute;
        top: 1050px;
    }
    .card.third h3 {
        margin: 5px 0 0 0;
    }
}