{% extends "base.html" %}

{% block title %}
Bienvenido
{% endblock %}

{% block content %}
<div class="hero">
  <div class="hero-content">
    <div class="left hero-left">
      <h1>Científico de Datos</h1>
      <h1>y Desarrollador</h1>
      <p>Construyo aplicaciones en Python utilizando bases de datos relacionales, machine
         learning e inteligencia artificial</p>
      <a href="#contacto" class="btn">Contáctame</a>
    </div>
    <div class="right hero-right">
      <img class="image" src="{{ url_for('static', filename='big-data.png') }}" width="500px"/>
    </div>
  </div>
</div>
{% include "portfolio/section_first.html" %}
{% include "portfolio/section_second.html" %}
{% include "portfolio/section_third.html" %}

{% endblock %}