<div id="proyectos" class="center padded white-bg">
  <div class="content padded">
    <div class="padded">
      <h1>¿No estás convencido? mira lo que he construído!</h1>
    </div>
    <div class="row">
      <div class="card third">
        <h3>Generador de Texto</h3>
        <p>Red Neuronal que completa tus historias, basándose en el universo de Tolkien.</p>
        <a target="_blank"
           href="https://share.streamlit.io/crisleaf/tolkien_text_generator/text_generator_app.py"
           class="orange">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Proyecto 2</h3>
        <p>Trabajando...</p>
        <!--        <a href="{{ url_for('static', filename='libreta_clientes') }}" class="orange">Link aquí</a>-->
        <a href="#" class="orange">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Sketchs Bot</h3>
        <p>Dibuja algún objeto y una red neuronal intentará adivinar qué es.</p>
        <!--        <a href="{{ url_for('static', filename='db') }}" class="orange">Link aquí</a>-->
        <a href="https://sketchs-app.herokuapp.com/" class="orange">Link aquí</a>
      </div>
    </div>
  </div>
</div>