<div id="proyectos" class="center padded white-bg">
  <div class="content padded">
    <div class="padded">
      <h1>¿No estás convencido? mira lo que he construído!</h1>
    </div>
    <div class="row">
      <div class="card third">
        <h3>Generador de Texto</h3>
        <p>Red Neuronal que completa tus historias, basándose en el universo de Tolkien.</p>
        <a target="_blank"
           href="https://share.streamlit.io/crisleaf/tolkien_text_generator/text_generator_app.py"
           class="orange">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Conecta 4 Bot</h3>
        <p>Un bot capaz de jugar al juego Conecta 4. Admite 2 dificultades.</p>
        <a href="https://conecta4-bot.herokuapp.com/" class="orange">Link aquí</a>
      </div>
      <div class="card third">
        <h3>Sketchs Bot</h3>
        <p>Dibuja algún objeto y una red neuronal intentará adivinar qué es.</p>
        <a href="https://sketchs-app.herokuapp.com/" class="orange">Link aquí</a>
      </div>
    </div>
  </div>
</div>