<div class="center">
  <div class="content section-first">
    <div class="row vert-pad">
      <div class="left padded first-left">
        <h1>Desarrollo con pasión aplicaciones web de Ciencia de Datos</h1>
        <p>Constantemente me encuentro aprendiendo nuevas tecnologías, nuevos teoremas en
           Matemáticas, nuevos conceptos de Estadística y nuevos modelos de Machine Learning e
           Inteligencia Artificial.
          <br/>
          <br/>
           Esta web la
           construí desde cero con Python y Flask!.</p>
      </div>
      <div class="right padded first-right">
        <h1>Podemos conversar lo que quieras!</h1>
        <p>Sólo envíame un correo <a href="#contacto" class="orange">pinchando aquí.</a></p>
      </div>
    </div>
  </div>
</div>
