<div class="center padded third-container">
  <div class="content third-content">
    <div class="row vert-pad third-section">
      <div class="left padded third-left">
        <h1>¡Ahora o nunca!
          <br/>
            Trabajemos juntos :)</h1>
        <p>Daré mi mejor esfuerzo por aprender, aportar valor y para tener una fructífera
           relación a largo plazo.</p>
      </div>
      <div id="contacto" class="right padded third-right">
        <form class="contact-form" action="https://formsubmit.co/5b7e000f54291c34d4205b1d5539794b"
              method="POST">
          <input type="text" name="_honey" style="display: none;">
          <input type="hidden" name="_captcha" value="false">
          <input type="hidden" name="_next"
                 value="https://protected-fjord-89393.herokuapp.com/mail"/>

          <input name="name" placeholder="Nombre" required/>
          <input name="email" placeholder="Correo"
                 type="text"
                 pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                 required/>
          <textarea name="message" placeholder="Mensaje" required minlength="10"></textarea>
          <button class="btn full-width">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
-