<!doctype html>
<title>{% block title %} - Portafolio{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap"
      rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap"
      rel="stylesheet">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<body>
<header>
  <div class="logo">CRIS TORRES</div>
  <nav>
    <ul>
      <li><a href="{{ url_for('portfolio.index') }}">Inicio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="https://protected-fjord-89393.herokuapp.com/#proyectos">Proyectos</a></li>
      <li><a href="https://protected-fjord-89393.herokuapp.com/#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>
<section>{% block content %}{% endblock %}</section>
<div class="footer">
  <div class="center full-width">
    <div class="row">
      <h3>¡Contáctame!
        <br/>
          (づ￣ ³￣)づ</h3>
    </div>
  </div>
  <div class="center full-width social-links">
    <div class="row">
      <a href="https://www.linkedin.com/in/cris-torres-rojas-a0a972205/" class="social">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/CrisLeaf" class="social">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </div>
  <div class="made-with">
    <div class="row">
      <p>Hecho con <i class="fa-solid fa-heart"></i> por Cris</p>
    </div>
  </div>
</div>
</body>